$container-max-width: 1140px;
$container-padding: 10px;

$color-neural: #ffffff;
$color-corporate-blue: #5474FD;
$color-active-darcblue:darkblue;
$text-description-color: #e8e8e8;
$text-color-gray: #fefefe;

$screen-grand: 1920px;
$screen-large: 1600px;
$screen-medium: 1280px;
$screen-tablet: 1024px;
$screen-small: 720px;
$screen-s: 480px;
// $screen-xs: 320px;