@mixin margin-auto {
    margin: 0 auto;
}

@mixin font-style-JosefinSans16 {
font-family: Josefin Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: left;
align-items: center;
}

@mixin font-style-JosefinSans24 {
font-family: Josefin Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 26px;
align-items: center;
text-transform: uppercase;
}

@mixin font-style-Aleo {
font-family: Aleo;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
align-items: center;
text-align: center;
text-transform: uppercase;
}

@mixin font-style-Aleo36 {
font-family: Aleo;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 26px;
align-items: center;
text-align: center;
}

@mixin spain-box {
    .spain__book {
        width: 540px;
        height: 370px;
        padding-top: 47px;
        padding-left: 30px;
        box-sizing: border-box;
        background: #232323;
        mix-blend-mode: normal;
        opacity: 0.9;
        @include media-screen-s {
            width: 440px;
            height: 330px;
            padding-top: 27px;
            opacity: 0.7;
        }
        .spain__country {
            width: 80px;
            height: 26px;
            margin-bottom: 23px;
            font-family: inherit;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            align-items: center;
            letter-spacing: 1.5px;
            color: #e8e8e8;
        }
        .spain__title {
            width: 241px;
            height: 26px;
            margin-bottom: 13px;
            font-family: inherit;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 26px;
            align-items: center;
            text-transform: uppercase;
            color: #ffffff;
        }
        .spain__text {
            width: 508px;
            height: 78px;
            margin-bottom: 46px;
            color: #e8e8e8;
            @include font-style-JosefinSans16;
            @include media-screen-s {
                width: 408px;
            }
        }
    }
}

@mixin btn-properties {
        font-family: Aleo;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 66px;
        text-align: center;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    
}

@mixin btn-standard {
        width: 228px;
        height: 63px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        background: -webkit-linear-gradient(
            45deg,
            rgb(73, 107, 254) 42%,
            rgb(84, 116, 253) 42%
        );
        background: -moz-linear-gradient(
            45deg,
            rgb(73, 107, 254) 42%,
            rgb(84, 116, 253) 42%
        );
        background: linear-gradient(
            45deg,
            rgb(73, 107, 254) 42%,
            rgb(84, 116, 253) 42%
        );
}

@mixin media-screen-grand {
    @media screen and (max-width: $screen-grand){
        @content;
    }
}

@mixin media-screen-large {
    @media screen and (max-width: $screen-large){
        @content;
    }
}

@mixin media-screen-medium {
    @media screen and (max-width: $screen-medium){
        @content;
    }
}

@mixin media-screen-tablet {
    @media screen and (max-width: $screen-tablet){
        @content;
    }
}

@mixin media-screen-small {
    @media screen and (max-width: $screen-small){
        @content;
    }
}
@mixin media-screen-s {
    @media screen and (max-width: $screen-s){
        @content;
    }
}
@mixin media-screen-xs {
    @media screen and (max-width: $screen-xs){
        @content;
    }
}

// 1920
// 1600
// 1280
// 1024
// 720
// 480
// 320